.page-header
  .page-header-content
    a.back-button.page-back(href="/")
    .place-right(style="position: absolute; right: 0px; top: 34px;")
      a(href="/logoff") Sign out
        i.icon-exit.big
