extends layout

block content
  .page.thirdary
    include includes/header
    .page-region
      .page-region-content.tiles
        .tile-group.tile-drag
          each article in articles
            a.tile.double.bg-color-blueDark(href="#")
              .tile-content
                h2 #{article}
    //-include includes/footer
