extends layout

block content
  .page.thirdary
    include includes/header
    .page-region
      .page-region-content
        ul.listview.fluid
          each topic in topics
            li.bg-color-blueDark.fg-color-white
              .icon
                img(src="/images/article_32.png")
              .data
                h4.fg-color-white #{topic.name}
                each a in topic.articles
                  a(href="#{a.link}") #{a.title}
                  br
    //-include includes/footer
