extends layout

block content
  .page.thirdary
    include includes/header
    .page-region
      .page-region-content
        h2 Contact Us
        p If you would like more information about Enjoy International and our services, please contact us at:
        p
          a(href="mailto:info@enjoyinternational.com") info@enjoyinternational.com
        p If you are interested in receiving information regarding job and internship opportunities at Enjoy International, please contact us at:
        p
          a(href="mailto:careers@enjoyinternational.com") careers@enjoyinternational.com
    include includes/footer
