extends layout

block content
  .page.thirdary
    include includes/header
    .page-region
      .page-region-content.tiles
        .tile-group.tile-drag
          a.tile.double.bg-color-white(href="#")
            .tile-content
              .logo
                span.enjoy Enjoy
                span.abc ABC
          a.tile.double.bg-color-blueEnjoy(href="/articles", data-role="tile-slider")
            .tile-content
              .menu Articles
            - if (articles) {
              .tile-content
                ul.listview.iconic
                  each a in articles
                    li
                      .icon
                        img(src="/images/article_32.png")
                      .data
                        h4 #{a.title}
            - }
          a.tile.double.bg-color-blueEnjoy(href="/lectures")
            .tile-content
              .menu Lecture<br>Calendar
          a.tile.double.bg-color-blueEnjoy(href="/presentations")
            .tile-content
              .menu Presentations
          a.tile.double.bg-color-blueEnjoy(href="/media")
            .tile-content
              .menu Media
          a.tile.double.bg-color-blueEnjoy(href="/contact")
            .tile-content
              .menu Contact Us
    //-include includes/footer
