extends layout

block content
  .page.thirdary
    include includes/header
    .page-region
      .page-region-content.tiles
        .tile-group.tile-drag
          .tile.double.bg-color-white
            .tile-content
              .logo
                span.enjoy Enjoy
                span.abc ABC
          .tile.double.bg-color-blueEnjoy(data-role="tile-slider")
            .tile-content
              .menu(data-url="/articles") Articles
            - if (articles) {
              .tile-content
                ul.listview.iconic
                  each a in articles
                    li
                      .icon
                        img(src="/images/article_32.png")
                      .data
                        h4 #{a.title}
            - }
          .tile.double.bg-color-blueEnjoy
            .tile-content
              .menu(data-url="/lectures") Lecture<br>Calendar
          .tile.double.bg-color-blueEnjoy
            .tile-content
              .menu(data-url="/presentations") Presentations
              //a(href="#", id="topic", name="topic", data-type="text", data-pk="1", data-url="/presentation/topic") #{topic}
              span #{topic}
          .tile.double.bg-color-blueEnjoy
            .tile-content
              .menu(data-url="/media") Media
          .tile.double.bg-color-blueEnjoy
            .tile-content
              .menu(data-url="/contact") Contact Us
    //-include includes/footer

block js
  script(type='text/javascript')
    ;(function($){
      $(document).ready(function(e){
        $('.menu').click(function(e){
          e.preventDefault();
          var url = $(this).data('url');
          window.location.href = url;
        });
      });
    })(jQuery);
