doctype 5
html
  head
    title EnjoyABC
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='auther', content='Tomo Wang')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    block css
      link(rel='stylesheet', href='/css/modern.css')
      link(rel='stylesheet', href='/css/modern-responsive.css')
      link(rel='stylesheet', href='/css/style.css')
  body.metrouicss
    block content
    block scripts
      script(src='/javascript/jquery-1.9.1.min.js', text='text/javascript')
      script(src='/javascript/jquery-migrate-1.2.1.min.js', text='text/javascript')
      script(src='/javascript/jquery.placeholder.min.js', text='text/javascript')
      script(src='/javascript/moment.min.js', text='text/javascript')
      script(src='/javascript/metro/dropdown.js', text='text/javascript')
      script(src='/javascript/metro/accordion.js', text='text/javascript')
      script(src='/javascript/metro/buttonset.js', text='text/javascript')
      script(src='/javascript/metro/carousel.js', text='text/javascript')
      script(src='/javascript/metro/input-control.js', text='text/javascript')
      script(src='/javascript/metro/pagecontrol.js', text='text/javascript')
      script(src='/javascript/metro/rating.js', text='text/javascript')
      script(src='/javascript/metro/slider.js', text='text/javascript')
      script(src='/javascript/metro/tile-slider.js', text='text/javascript')
      script(src='/javascript/metro/dialog.js', text='text/javascript')
      script(src='/javascript/metro/calendar.js', text='text/javascript')
      script(src='/javascript/main.js', text='text/javascript')
    block js
