doctype 5
html
  head
    title EnjoyABC
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='auther', content='Tomo Wang')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/modern.css')
      link(rel='stylesheet', href='/css/modern-responsive.css')
  body.metrouicss
    block content
    block scripts
      script(src='/javascript/jquery-1.9.1.min.js', text='text/javascript')
      script(src='/javascript/jquery.placeholder.min.js', text='text/javascript')
      script(src='/javascript/jquery-migrate-1.1.1.min.js', text='text/javascript')
      script(src='/javascript/dropdown.js', text='text/javascript')
      script(src='/javascript/accordion.js', text='text/javascript')
      script(src='/javascript/buttonset.js', text='text/javascript')
      script(src='/javascript/carousel.js', text='text/javascript')
      script(src='/javascript/input-control.js', text='text/javascript')
      script(src='/javascript/pagecontrol.js', text='text/javascript')
      script(src='/javascript/rating.js', text='text/javascript')
      script(src='/javascript/slider.js', text='text/javascript')
      script(src='/javascript/tile-slider.js', text='text/javascript')
      script(src='/javascript/dialog.js', text='text/javascript')
      script(src='/javascript/calendar.js', text='text/javascript')
      script(src='/javascript/main.js', text='text/javascript')
    block js
