extends layout

block content
  .page.thirdary
    include includes/header
    .page-region
      .page-region-content
        table.bordered.hovered
          thead
            tr
              th Date
              th Topic
              th Lecturer
              th Location
          tbody
            each l in lectures
              tr
                td #{l.date}
                td #{l.topic}
                td #{l.lecture}
                td #{l.location}
    //-include includes/footer
